<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcademEase"
        tools:targetApi="31">

        <receiver
            android:name="com.nithinbalan.academease.UpcomingClassesWidget"
            android:exported="false"
            android:label="View the next class.">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/upcoming_classes_widget_info" />
        </receiver>

        <activity
            android:name="com.nithinbalan.academease.activities.CalendarActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.nithinbalan.academease.activities.AttendanceActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.nithinbalan.academease.activities.TimetableActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.nithinbalan.academease.activities.NotesActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.nithinbalan.academease.activities.WhiteboardActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.nithinbalan.academease.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
</activity>

    </application>

</manifest>